<h1>Listing patients</h1>

<table>
  <thead>
    <tr>
      <th>P first name</th>
      <th>P last name</th>
      <th>P middle name</th>
      <th>P birthday</th>
      <th>P address</th>
      <th>P address 2</th>
      <th>P city</th>
      <th>P state</th>
      <th>P zip code</th>
      <th>Practice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.p_first_name %></td>
        <td><%= patient.p_last_name %></td>
        <td><%= patient.p_middle_name %></td>
        <td><%= patient.p_birthday %></td>
        <td><%= patient.p_address %></td>
        <td><%= patient.p_address_2 %></td>
        <td><%= patient.p_city %></td>
        <td><%= patient.p_state %></td>
        <td><%= patient.p_zip_code %></td>
        <td><%= patient.practice %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
