<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => Patient %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:p_first_name) %></th>
      <th><%= model_class.human_attribute_name(:p_last_name) %></th>
      <th><%= model_class.human_attribute_name(:p_middle_name) %></th>
      <th><%= model_class.human_attribute_name(:p_birthday) %></th>
      <th><%= model_class.human_attribute_name(:p_address) %></th>
      <th><%= model_class.human_attribute_name(:p_address_2) %></th>
      <th><%= model_class.human_attribute_name(:p_city) %></th>
      <th><%= model_class.human_attribute_name(:p_state) %></th>
      <th><%= model_class.human_attribute_name(:p_zip_code) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.id %></td>
        <td><%= patient.p_first_name %></td>
        <td><%= patient.p_last_name %></td>
        <td><%= patient.p_middle_name %></td>
        <td><%= patient.p_birthday %></td>
        <td><%= patient.p_address %></td>
        <td><%= patient.p_address_2 %></td>
        <td><%= patient.p_city %></td>
        <td><%= patient.p_state %></td>
        <td><%= patient.p_zip_code %></td>
        <td><%=l patient.created_at, format: :long %></td>
        <td>
          <%= link_to patient_path(patient), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to patient_path(patient), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_patient_path,
            :class => 'btn btn-primary' %>
